{% if site.prerelease %}
  {% include release-note.html %}
{% endif %}
<footer class="py-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h2 class="footer-heading mb-0">
          {{ site.title }}
        </h2>
      </div>

      <div class="col-md-4">
        <p class="mb-0">
          © {{ site.year }} Beautiful Nepal.<span class="d-block d-sm-none"></span> {{ site.description }}
        </p>
      </div>

      <div class="col-md-4">
        {%- include social.html -%}
      </div>

    </div>
  </div>
</footer>
