// home page css
.navbar {
  .container {
    max-width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}
.home_page {
  .banner-section {
    margin-top: 2rem;

    .banner-container {
      max-width: 80%;
      margin: auto;
    }
    #bannerSlider {
      .carousel-indicators [data-bs-target] {
        border-top: 0;
        border-bottom: 0;
        height: 15px;
        width: 15px;
        border-radius: 25px;
        margin-bottom: 1rem;
      }
      .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
      }
      .carousel-item {
        .carousel-caption {
          font-size: 1.5rem;
          font-weight: 300;
          left: 0 !important;
          text-align: left;
          background-color: #20305F;
          opacity: 0.9;
          bottom: 5rem;
          padding: 1rem;
          right: auto;
          padding-right: 10rem;

          p {
            margin-left: 4rem;
          }
          .btn-details {
            padding: 0.25rem 1.5rem;
            display: inline-block;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            border-radius: 0;
            margin-left: 1rem;

            img {
              height: 25px;
            }
          }
        }
        img {
          height: 70vh;
          object-fit: cover;
        }
      }
    }
  }

  .landscape-section {
    padding: 5rem 0;

    .title {
      font-size: 2.8rem;
      font-family: $font-secondary;
      margin-bottom: 1.5rem;
    }
    .places-list {
      list-style: none;
      padding-left: 0;

      li {
        display: flex;
        gap: 10px;
        align-items: self-start;

        .place-icon {
          font-size: 35px;
          color: red;
        }
        .place-text {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .home_page {
    .banner-section {
      #bannerSlider {
        .carousel-item {
          .carousel-caption {
            padding-right: 2rem;

            p {
              margin-left: 1rem;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
