// home page css
.home_page {
  .banner-section {
    margin: 3rem 0 1rem;

    .banner-container {
      max-width: 90%;
      margin: auto;
      box-shadow: rgb(0 0 0/8%) 0 1px 0;
    }
    #bannerSlider {
      .carousel-indicators [data-bs-target] {
        border-top: 0;
        border-bottom: 0;
        height: 15px;
        width: 15px;
        border-radius: 25px;
        margin-bottom: 1rem;
      }
      .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
      }
      .carousel-item {
        border-radius: 12px;

        .carousel-caption {
          font-size: 1.5rem;
          font-weight: 300;
          left: 0 !important;
          text-align: left;
          background-color: #20305F;
          opacity: 0.9;
          bottom: 5rem;
          padding: 1rem;
          right: auto;
          padding-right: 10rem;

          p {
            margin-left: 4rem;
          }
          .btn-details {
            padding: 0.25rem 1.5rem;
            display: inline-block;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            border-radius: 0;
            margin-left: 1rem;

            img {
              height: 25px;
            }
          }
        }
        .carousel-img {
          height: 70vh;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }

  .places-list {
    padding: 2rem 0 5rem;

    .place-items-header {
      padding: 2.5rem 0 2rem;
      border-top: 1px solid #ddd;

      .place-items-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .place-filter-btn {
          text-decoration: none;
          color: #999;
          font-weight: 600;
        }
        .place-filter-btn.active, .place-filter-btn:hover {
          color: #111;
        }
      }
    }
    .place-items-wrapper {
      .place-card {

        .place-card-img {
          border-radius: 12px;
          height: 15rem;
        }
        .place-card-caption {
          margin-top: 8px;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .home_page {
    .banner-section {
      .banner-container {
        max-width: 85%;
      }

      #bannerSlider {
        .carousel-item {
          .carousel-caption {
            padding-right: 2rem;

            p {
              margin-left: 1rem;
              font-size: 18px;
            }
          }
          .carousel-img {
            height: 45vh;
          }
        }
      }
    }

    .places-list {
      .place-items-wrapper {
        .place-card {
          margin-bottom: 3rem;

          .place-card-img {
            width: 100%;
            height: 30vh;
          }
        }
      }
    }
  }
}
