/* Custom SCSS */
$color-primary: #ddd;

html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
}
.page-margin {
  margin-top: 100px;
}
main {
  height: 100vh;
}

#coming_soon {
  * {
    box-sizing: border-box;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: #1200AF;
    font-size: 4rem;
    margin-bottom: 0;
  }
  p {
    color: red;
    font-size: 2rem;
  }
}

#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}

@import "animate.min";
@import "home";
@import "responsive";
