/* Custom SCSS */
$color-primary: #FFCF00;
$color-secondary: #BD3228;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Lora', serif;
$font-courgette: 'Courgette', cursive;

.font-primary {
  font-family: $font-primary;
}
.font-secondary {
  font-family: $font-secondary;
}
.font-courgette {
  font-family: $font-courgette;
}

html,
body {
  height: 100%;
}
body {
  font-family: $font-primary;
  font-size: 16px;
}

.page-margin {
  margin-top: 100px;
}

.container {
  max-width: 90%;
  padding-left: 0;
  padding-right: 0;
}

.release-note {
  padding: 8px 1.5rem;
  background: #1605a8;
  text-align: center;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
  em {
    text-decoration: underline;
    font-weight: bold;
  }
}

footer {
  background-color: #0d007a;
  color: #fff;

  .social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
    padding-left: 0;
    margin: 5px 0 3px 0;

    li {
      font-size: 18px;
      list-style: none;

      i {
        color: #fff;
      }
    }
  }
}
// footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }

@media screen and (max-width: 520px) {
  .container {
    max-width: 85%;
  }
  footer {
    text-align: center;
  }
}

@import "animate.min";
@import "navbar";
@import "home";
@import "responsive";
