/* Custom SCSS */
$color-primary: #FFCF00;
$color-secondary: #BD3228;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Lora', serif;
$font-courgette: 'Courgette', cursive;

.font-primary {
  font-family: $font-primary;
}
.font-secondary {
  font-family: $font-secondary;
}
.font-courgette {
  font-family: $font-courgette;
}

html,
body {
  height: 100%;
}
body {
  font-family: $font-primary;
  font-size: 16px;
}

.page-margin {
  margin-top: 100px;
}

#coming_soon {
  background-image: url($asset_base_url + "/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  * {
    box-sizing: border-box;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 0;
  }
  p {
    color: yellow;
    font-size: 2rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@import "animate.min";
@import "navbar";
@import "home";
@import "responsive";
